body{
	margin: 0;
	padding: 0;
	background-color: #3D315B; 
	/*background-image: url(edit.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh; */ 
	font-family: 'Muli', sans-serif;

}

.container{
	display: flex;
	justify-content: center;	
}

.board{
	display: flex;
	width: 90vw;
	height: 90vh;
	background: white;
	margin-top: 10vh;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 10px;
}

.menu{
	display: flex;
	flex-direction: column;
	margin-top: 2.5vh;
	margin-left: 1vw;
	width: 20vw;
	border-right: 1px solid #888888; 
	box-shadow: 2px 0px #888888;
	justify-content: space-around;
}

.image{
	text-align: center;
	font-size: 2.7vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image img{
	border: 1px solid white;
	border-radius: 50%;
	margin-top: 3vh;
	height: 26vh;
	width: 13vw;
}

.links{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.table{
	margin-bottom: 8px;
	text-align: center;
	width: 15vw;
	background-color: #987284;
	height: 5vh;
	font-size: 2.3vh;
	border-radius: 15px;
	font-family: 'Muli', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table:hover{
	background-color: #2E2044;
}

.links a{
	color: #DDD8B8;
	text-decoration: none;
}

.logo{
	display: flex;
	margin-top: 1vh;
	justify-content: center;
}

.tortilet{
  	background-image: url(brigadeiro.png);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 3.5vw 7vh;
	width: 3.5vw;
	height: 7vh;
	border: 2px solid #987284;
	border-radius: 50px;
	padding: 5px;
	margin: 2px;
}

.tortilet:hover{
	border-color:#2E2044;
  	background-image: url(brigadeiro1.png);
}

.linkedin{
  	background-image: url(in.png);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 2.5vw 5vh;
	width: 3.5vw;
	height: 7vh;
	border: 2px solid #987284;
	border-radius: 50px;
	padding: 5px;
	margin: 2px;
}

.linkedin:hover{
	border-color:#2E2044;
  	background-image: url(in1.png);
}

.credits{
	font-family: Lucida Sans Typewriter;
	text-align: center;
	font-size: 1.6vh;
}

.dash{
	width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teste{
	margin-left: 25vw;
	margin-top: 15vh;
}

.dash a{
	fill: #3D315B;
}

.done:hover{
	fill: #59994F;
}

.tbc:hover{
	fill: #AD5D4E;
}

.caixa{
	display: inline-block; 
	font-size: 13px; 
	font-family: 'Muli', sans-serif; 
	color: rgb(0, 0, 0); 
	line-height: 1.2; 
	vertical-align: top; 
	white-space: nowrap; 
	overflow-wrap: normal; 
	font-weight: bold; 
	text-align: center;
}

.caixinha{
	display:inline-block;
	text-align:inherit;
	text-decoration:none;
	white-space:normal;
	color: #DDD8B8;
}

.dash_links{
	display: flex;
	align-items: flex-start;
	margin-top: 10vh;
	font-size: ;
	list-style: url('star.png');
}

.dash_links li{
	margin-bottom: 1vh;
}

.dash_links a{
	color: blue;
}

.dash_about{
	width: 60vw;

}

.about_follow{
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_follow img{
	width: 4vw;
	height: 8vh;
	margin-left: 2vw;
}